#Ignore metafiles
.*
!.gitignore
!.circleci
!.dockerignore
!.gitchangelog.rc
!.changelog.tpl
!.polyaxonignore

#Ignore python reources
*.pyc
*.pyo
/build/
/dist/
/scaffold/seldon/build
/scaffold/seldon/models
/scaffold/seldon/requirements.txt
*.h5
*.egg-*/
__pycache__
