#Ignore metafiles
.*
!.gitignore
!.circleci
!.dockerignore
!.gitchangelog.rc
!.changelog.tpl
!.polyaxonignore

#Ignore python reources
*.pyc
*.pyo
/build/
/dist/
/seldon/build
seldon/models
seldon/requirements.txt
*.h5
*.egg-*/
__pycache__
